certifi
chardet
click
Flask
Flask-Caching
Flask-HTTPAuth
Flask-MySQLdb
Flask-SocketIO
Flask-SSLify
Flask-WTF
Flask-Login
idna
itsdangerous
Jinja2
mysqlclient
ordereddict
passlib
python-engineio
python-socketio
requests
six
urllib3
Werkzeug
WTForms
gunicorn
eventlet
gevent
urllib3
pysocks
telebot